#main-navbar {
	background-color: crimson;
	overflow: hidden;
}

#navbar-container {
	float: left;
	position: relative;
	width: 100%;
}

#main-navbar ul {
	list-style-type: none;
	margin:0;
	padding: 1em;
	position: relative;
	left: 50%;
	float: left;
}

#main-navbar ul li {
	float: left;
	position: relative;
	right:50%;
	display: block;
}

#main-navbar ul li a {
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	font-family: 
}

#main-navbar ul li a:hover {
	background-color: pink;
}

#onpage {
	text-decoration: underline;
}

.clear {
	clear: both;
}

#welcome {
	font-family: "Monaco", monospace;
	text-align: center;
}
	
h3 h4 {

}

p {
 font-size: smaller;
}

#wrapper {
	width: 960px;
}

#aboutme {
	float: left;
	width: 630px;
	margin: 0 20px;
	padding: 10px;
	background-color: lightgray;
	border-radius: 10px;
	border-color: black;
}

#additional {
	float: left;
	width: 230px;
	margin: 0 20px 0 0;
	padding: 10px;
	background-color: lightgray;
	border-radius: 10px;
	border-color: black;
}

.clear {
	clear: left;
}

